@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #2C3333;
  margin: 0;
  font-family: 'Noto Sans Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body :is(h1,h2,h3,p,span){
  color: #A5C9CA;
}

/* .card > img {
  width: 100%;
  height: 270px;
  object-fit: cover;
} */

.info :is(h6,span,p){
  color: black;
}
